anthropic==0.34.2
beautifulsoup4==4.11.1
beautifulsoup4==4.10.0
EbookLib==0.18
langchain==0.2.16
langchain_anthropic==0.1.23
langchain_openai==0.1.23
langchain_text_splitters==0.2.4
Markdown==3.7
mobi==0.3.3
nbformat==5.10.4
openai==1.44.1
python-dotenv==1.0.1
python-docx==1.1.2
